

<carousel>
    <slide>
        <img src="https://www.epochtimes.com.br/assets/uploads/2014/12/sb-aprender-r%C3%B3tulo-alimentos-795x447.jpg" alt="" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="https://lh3.googleusercontent.com/proxy/VghH90pP2kQB8QF31jq1tmLDoz-80KQ4XVp2_bvaJ6Q9Ba1MMABj4RLxtpruT3l7jRDZXVC2qKbHkniAkV9d1XCJV5GWy8PvHbNUxTa_qmhKJx0PQJ2OdJgrz7rG6CJTeHUSEuotow" alt="" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="https://mecaluxcom.cdnwm.com/news/pallet-shuttle-instalation.1.4.jpg" alt="" style="display: block; width: 100%">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Bem Vindos à EGGL, A melhor Loja de Produtos Alimentícios de BH</h1>
    </div>
</section>