<div class="container mt-5">
    <div *ngIf="(basket$ | async) === null">
        <p>Seu Carrinho está Vazio</p>
    </div>
    
    <!-- <div *ngIf="(basket$ | async) as basket">
        <ul>
            <li *ngFor="let item of basket.item">
                {{item.productNome}} - {{item.quantidade}};
            </li>
        </ul>
    </div> -->






    <div *ngIf="basket$ | async">
        <div class="pb-5">
            <div class="container" id="htmlData">

                <div class="row">
                    <div class="col-12 py-5 mb-1">
                       <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                     <th class="border-e bg-light" scope="col">
                                       <div class="py-2 px-10 text-uppercase">Produtos</div>
                                     </th>
                                     <th scope="col" class="border-e bg-light">
                                        <div class="py-2 px-100 text-uppercase">Preço</div>
                                     </th>
                                     <th scope="col" class="border-e bg-light">
                                        <div class="py-2 px-100 text-uppercase">Quantidade</div>
                                     </th>
                                     <th scope="col" class="border-e bg-light">
                                        <div class="py-2 px-100 text-uppercase">Total</div>
                                     </th>
                                     <th scope="col" class="border-e bg-light">
                                        <div class="py-2 px-100 text-uppercase">Remover</div>
                                     </th>
                                 </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let itemS of (basket$ | async).item">
                                    <th scope = "row">
                                       <div class="p-2">
                                          <img src="{{itemS.pictureurl}}" alt="{{itemS.productNome }}" class="ing-fluid" style="max-height: 50px">
                                          <!-- <div class="ml-3 d-inline-block align-middle">
                                              <h5 class="mb-0">
                                                <a routerLink="/shop/{{itemS.id}}" class="text-dark">{{itemS.productNome }}</a>
                                              </h5>
                                              <span class="text-muted font-weight-normal font-italic d-block">Categoria: {{itemS.categoria}}</span>
                                           </div> -->
                                       </div>
                                    </th>

                                    <td class="align-middle"><strong>{{itemS.preco | currency}}</strong></td>
                                    <td class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <i (click)="decrementItemQuantity(itemS)" class=" fa fa-minus-circle text-primary mr-2" style="cursor: pointer; font-size: 2em;"></i>
                                            <span class="font-weight-bold" style="font-size: 1.5em">{{itemS.quantidade}}</span>
                                            <i (click)="incrementItemQuantity(itemS)" class=" fa fa-plus-circle text-primary mx-2" style="cursor: pointer; font-size: 2em;"></i>
                                        </div>
                                    </td>
                                    <td class="align-middle"><strong>{{itemS.preco * itemS.quantidade | currency}}</strong></td>
                                    <td class="align-middle text-center">
                                        <a class="text-danger">
                                            <i (click)="removeBasketItem(itemS)"class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary
                            (decrement)="decrementItemQuantity($event)"
                            (increment)="incrementItemQuantity($event)"
                            (remove)="removeBasketItem($event)"
                            [item]="(basket$ | async).item"
                        ></app-basket-summary>
                    </div>
                </div> -->
                

                
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <!-- <app-order-totals
                            *ngIf="(basketTotals$ | async)"
                            [shippingPrice]="(basketTotals$ | async).shipping"
                            [subtotal]="(basketTotals$ | async).subtotal"
                            [total]="(basketTotals$ | async).total"
                        ></app-order-totals> -->
                        <!-- <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                            Proceed to checkout
                        </a> -->
                        <div class="col-md-4 text-right">
                            <button class="btn btn-primary btn-block" (click)="openPDF()">Download PDF</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>



</div>

